html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body, h1, p, a, button, li, ul {
    margin: 0;
	padding: 0;
	border: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 27px 24px 20px;
}
nav > * { 
    flex: 1;
    align-items: baseline;
    font-size: 16px;
    font-weight: 700;
}

.mobile-nav {
    display: none;
}
.burger-close, .burger-open {
    display: none;
}


.nav-brand {
    height: 27px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

}

.nav-items {
    align-self: center;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.signin-offers {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-end;
}

.signin-offers button {
    font-size: 16px;
    font-weight: 700;
    background-color: black;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 64px 24px;
}

.education {
    color: #6E7A82;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    letter-spacing: 2px;

}

header h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
}

.header-description {
    margin-top: 24px;
    text-align: center;
    font-size: 20px;
    line-height: 140%;
}

.card-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    padding-bottom: 88px;
}

.card {
    box-shadow: 0px 13px 27px rgba(0, 0, 0, 0.07); 
    margin: 16px 0;
}

.card-photo img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-article {
    padding: 40px;
}
.card-article p {
    color: #38444C;
    margin-top: 15px;
}

footer {
    width: 90%;
    margin: auto;
    padding: 10px 0;
    color: #6E7A82;
}
footer img {
    height: 27px;
}

.footer-links {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 120px 120px;
    grid-gap: 80px;
}

.footer-links p {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}
.column li {
    font-size: 16px;
    line-height: 35.6px;
    font-weight: 400;
}

.footer-copyright {
    margin-top: 10px;
    padding: 24px 0;
    opacity: 0.2;
}

@media screen and (max-width: 600px) {
    body {

    }
    nav {
        display: block;
    }
    .brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger-close {
        display: none;
    }

    .burger-open {
        display: flex;
    }

    .burger.active {
        display: flex;
    }

    .mobile-nav.active {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: center;

    }

    .mobile-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-items > * {
        padding: 16px 24px;
        border-top: 1px solid lightgrey;
    }

    .nav-items {
        display: none;
    }

    .signin-offers {
        display: none;
    }

    
}

@media screen and (min-width: 800px) {
    body {
        background: purple;
    }
}