html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body, h1, h3, p, a, button, li, ul {
    margin: 0;
	padding: 0;
	border: 0;
}

#nav-icon1 {
    width: 25px;
    height: 18px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span  {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 9px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 18px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top:9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }


a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 27px 24px 20px;
}

nav.sticky {
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    top: 0;
    background: #fff;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 1px 15px rgb(0 0 0 / 10%);
    z-index: 999;
}

nav > * { 
    flex: 1;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.mobile-nav {
    display: none;
}

.burger {
    display: none;
}

.nav-brand {
    height: 27px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-items {
    align-self: center;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.signin-offers {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-end;
}

.signin-offers button {
    font-size: 16px;
    font-weight: 700;
    background-color: black;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 64px 24px;
}

.education {
    color: #6E7A82;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
}

.header-description {
    margin-top: 24px;
    text-align: center;
    font-size: 20px;
    line-height: 140%;
    color: #6E7A82;
}

.card-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    padding-bottom: 88px;
    padding-top: 16px;
}

.card {
    box-shadow: 0px 13px 27px rgba(0, 0, 0, 0.07); 
    border-radius: 8px;
}

.card-photo img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-article {
    padding: 40px;
}
.card-article .title-link {
    cursor: pointer;
}

.card-article p {
    color: #38444C;
    margin-top: 15px;
    font-size: 16px;
}

footer {
    width: 90%;
    margin: auto;
    padding: 10px 0;
    color: #6E7A82;
}

.footer-logo img {
    height: 27px;
}

.footer-links {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 120px 120px;
    grid-gap: 80px;
}

.footer-links p {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 20px;
}

.footer-links .column {
    display: flex;
    flex-direction: column;
}
.footer-links .column li {
    font-size: 16px;
    line-height: 35.6px;
    font-weight: 400;
}

.footer-copyright {
    margin-top: 10px;
    padding: 24px 0;
    opacity: 0.2;
}

.article-container {
    width: 90%;
    margin: auto;
}

.article-image img {
    max-width: 100%;
}

.article-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 64px;
}
.article-summary {
    line-height: 33px;
}
.article-summary .byline {
    text-transform: uppercase;
    color: darkgrey;
}
.article-summary .sub-title {
    margin: 10px 0;
    font-weight: 700;
}

@media screen and (min-width: 1300px) {

    .container {
        max-width: 1200px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    
    nav {
        display: block;
    }
    .nav-items, .signin-offers, .burger-close {
        display: none;
    }

    .brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger {
        display: flex;
    }

    .burger.active .burger-open {
        display: none;
    }
    .burger.active .burger-close {
        display: flex;
    }

    .mobile-nav.active {
        display: block;
        margin-top: 30px;
        height: 100vh;

    }

    .mobile-items {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 400;
    }

    .mobile-items > * {
        padding: 16px 24px;
        border-top: 1px solid lightgrey;
    }

    .mobile-items li:last-of-type {
        border-bottom: 1px solid lightgrey;
    }

    .offers {
        background: black;
        color: white;
        border-radius: 8px;
    }

    .offers a {
        color: white;
    }

    mobile-items a {
        display: block;
    }

    header {
        padding: 48px 24px;
    }

    header h1 {
        font-size: 32px;
    }
    .card {
        margin: 32px 0;
    }

    .card-article {
        padding: 24px;
    }
    .card-article p {
        margin-top: 8px;
    }

    .card-container {
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding-bottom: 50px;
    }

    .card-container h3 {
        font-size: 24px;
    } 
  
}

@media screen and (min-width:  481px) and (max-width: 768px) {
  
    .card-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        padding-bottom: 50px;
    }
    header h1 {
        font-size: 40px;
    }
    .card-container h3 {
        font-size: 18px;
    } 


}